# this should be renamed .env

DISCORD_TOKEN=<ENTER TOKEN HERE>
PLAYER1=<YOUR BOT NAME> # matches case inside ./bots folder
# this is channel on discord where match results should be posted. 
CHANNEL_NAME = 'match-runner'